pip
aiohttp
aiosignal
annotated-types
async-timeout
attrs
beautifulsoup4
bidict
blinker
certifi
charset-normalizer
click
dataclasses-json
dnspython
filelock
Flask
Flask-SocketIO
frozenlist
fsspec
gunicorn
huggingface-hub
idna
itsdangerous
Jinja2
joblib
langchain
llama-index
loguru
MarkupSafe
marshmallow
multidict
mypy-extensions
nest-asyncio
nltk
numexpr
numpy
openai
packaging
pinecone-client
psycopg2-binary
pydantic
pydantic_core
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
PyYAML
regex
requests
safetensors
six
soupsieve
tenacity
tokenizers
tqdm
transformers
typing-inspect
typing_extensions
tzdata
Werkzeug
yarl
zipp
eventlet
pandas
SQLAlchemy
urllib3
importlib-metadata
